nav{
    background-color: blue;
    height: 10vh;
    padding: 20px 0 0 30px;
}
nav ul{
    justify-content: right;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    padding: 0 10px;
}