@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Instrument+Sans&display=swap');

:root{
    --main-site-color: #005df3;
    --main-text-hover: #b7cae9;
}

body{
    background-color: rgb(248, 248, 248);
}
*{
    padding: 0;
    margin: 0;
}

/* header-----------------------------------------------------------------------------------------------------------------------------*/
header{
    background-color: var(--main-site-color);
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Instrument Sans', sans-serif;
}

nav{
    display: flex;
}

.logo img{
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul{
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: var(--main-text-hover);
    font-weight: bolder;
}

.search {
    display: flex;
    align-items: center;
}

.search input{
    width: 500px;
    height: 21px;   
    border-radius: 6px;
    margin: 0 20px 0 150px;
}

input{
    padding: 0;
}
.but{
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    border-radius: 7px;
    background-color: var(--main-site-color);
}
/* main------------------------------------------------------------------------------------------------------------------------------ */

.container{
    margin: 10px;
    min-height: calc(100vh - 40px - 12vh);
}

.banner{
    height: 50vh;
    border-radius: 10px;
}

.card{
    background-color: rgb(219, 217, 217);
    margin: auto;
    max-width: 80vw;

}

.card h4{
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Instrument Sans', sans-serif;
    margin: 5px;
}
/* footer-----------------------------------------------------------------------------------------------------------------------------*/

footer{
    background-color: rgb(184, 184, 184);
    height: 12vh;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Instrument Sans', sans-serif;
}