@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.main_bc{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('images/banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
.sub_bc{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('images/banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
/* nav */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 90%;
    margin: 35px 5vw;
    align-items: center;
}
.clglogo{
    margin-right: 20px;
}
.clglogo img{
    width: 60px;
}
.clgdis{
    display: flex;
}
#mandal{
    font-size: 14px;
    color: #0000c7;
}
#clg_name{
    font-size: 17px;
    color: red;
}
.clgname h4{
    font-size: 10px;
    color: white;
}
.clgname h5{
    color: white;
    font-size: 6px;
    margin: 0 0 1px 0;
}
.navlinks ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlinks ul li{
    list-style: none;
    margin-left: 20px;
}
.navlinks ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
}
.navlinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navlinks ul li:hover::after{
    width: 70%;
}
#close{
    display: none;
    width: 25px;
}
#menu{
    display: none;
    width: 25px;
}
/* nav end */
.textbox{
    width: 90%;
    color: #ffff;
    position: absolute;
    top: 50%;
    left :50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.textbox h1{
    font-size: 62px;
}
.contacttextbox{
    width: 90%;
    color: #ffff;
    position: absolute;
    top: 50%;
    left :50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.contacttextbox h1{
    font-size: 45px;
}
.textbox p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.mmcoe_btn{
    display: inline-block;
    text-decoration: none;
    color: #ffff;
    border: solid white 1px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.mmcoe_btn:hover{
    border: 1px solid red;
    background-color: red;
    transition: 0.5s;
}
.discription{
    text-align: center;
    margin: 30px 130px;
}
.discriptionbox1{
    margin: 50px -27px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}
.discriptionbox2{
    margin: -62px -27px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s;
}
.discriptionbox1 h3{
    margin: 15px 0px;
}
.discriptionbox2 h3{
    margin: 15px 0px;
}
.discriptioncol{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.discriptioncol:hover{
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2);
}

.teamlinks{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.teamlinksrow{
    display: flex;
}
.teamlinkscol{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin: 60px 5px;
    border-radius: 10px;
    width: 80%;
}
.teamlinkscol img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226, 0, 0, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
}
.layer:hover h3{
    bottom:49%;
    opacity: 1;
}
.team_btn{
    display: inline-block;
    text-decoration: none;
    color: red;
    border: solid red 1px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}
.team_btn:hover{
    border: 1px solid red;
    background-color: red;
    transition: 0.5s;
    color: white;
}
/* reviews */
.reviews{
    width: 80%;
    margin: auto;
    padding-top: 10px ;
    text-align: center;
}
.reviewsrow{
    margin: 50px -27px;
    display: flex;
    justify-content: center;
}
.reviewscol{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin: 0px 12px;
}
.reviewscol p{
    text-align: left;
}
.reviewscol h3{
    margin: 10px;
}

/* cta  */
.cta
{
    margin: 50px auto;
    width: 80%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('images/banner.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    color: white;
}
.cta a{
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

/* footer */
footer{
    background-color: rgb(208, 208, 208);
    height: auto;
}
.quicklinks{
    margin: 30px 5vw -30px 5vw;
    display: flex;
    padding: 25px 0 0 0;
    justify-content: center;
}
.footerabout{
    display: inline-block;
    max-width: 20vw;
    margin: 20px;
}
.footerabout h5{
    color: #403f3f;
    font-size: 18px;
}
.footerabout p{
    margin: 10px 0;
    font-size: 14px;
    color: dimgray;
}
.collegsite h5{
    color: #403f3f;
    font-size: 18px;
}
.collegsite{
    display: inline-block;
    margin: 20px;
}
.collegsite ul{
    margin: 10px 0;
}
.collegsite ul li{
    list-style: none;
}
.collegsite ul li a{
    font-size: 14px;
    color: dimgray;
    text-decoration: none;
}
.extra h5{
    color: #403f3f;
    font-size: 18px;
}
.extra{
    display: inline-block;
    margin: 20px;
}
.extra ul{
    margin: 10px 0;
}
.extra ul li{
    list-style: none;
}
.extra ul li a{
    font-size: 14px;
    color: dimgray;
    text-decoration: none;
}
.contactmail{
    display: inline-block;
    margin: 20px;
}
.contactmail h5{
    color: #403f3f;
    font-size: 18px;
}
.contactmail ul{
    margin: 10px 0;
}
.contactmail ul li{
    list-style: none;
}
.contactmail ul li a{
    font-size: 14px;
    color: dimgray;
    text-decoration: none;
}
.footerdevcon{
    display: inline-block;
    margin: 20px;
}
.footerdevcon h5{
    color: #403f3f;
    font-size: 18px;
}
.phone{
    margin: 10px 0;
}
.phone img{
    width: 10px;
}
.phone p{
    display: inline-block;
    font-size: 14px;
    color: dimgray;
}
.email{
    margin: 10px 0;
}
.email img{
    width: 10px;
}
.email p{
    display: inline-block;
    font-size: 14px;
    color: dimgray;
}
.icons img{
    width: 5vw;
    align-items: center;
}
hr{
    border:none;
    border-top: 2px solid rgb(188, 188, 188);
    margin: 20px 0 6px 0;
}
.sociallinks{
    text-align: center;
}
.sociallinks h4{
    font-size: 12px;
}
.sociallinks p{
    /* text-align: center; */
    font-size: 7px;
    margin: 4px auto;
    color: dimgray;
    text-align: center;
    max-width: 40vw;
    justify-content: center;
}
.sociallinks h6{
    font-size: 6px;
    color: dimgray;
    padding-bottom: 12px;
}
/* footer ends */
.contactcontainer{
    width: 100%;
    height: 100vh;
}

/* contact page */
.contactus{
    width: 80vw;
    margin: auto;
}
.contactcol{
    flex-basis: 48%;
    margin: 30px;
}
.contactrow{
    display: flex;
}
.contactcol div{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.contactcol div span h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contactcol input, .contactcol textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
.submitbtn{
    display: inline-block;
    text-decoration: none;
    color: #ff3e3e;
    border: solid #ff3e3e 1px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.submitbtn:hover{
    border: 1px solid red;
    background-color: red;
    transition: 0.5s;
    color: white;
}
.contactcol h3{
    margin-bottom: 15px;
    color: #555;
}
.contactcol div span p{
    font-size: 10px;
}
.location{
    margin-top: 30px;
}
